@font-face {
  font-family: "iconfont"; /* Project id 2778542 */
  src: url('iconfont.woff2?t=1630340631656') format('woff2'),
       url('iconfont.woff?t=1630340631656') format('woff'),
       url('iconfont.ttf?t=1630340631656') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duigou:before {
  content: "\e62b";
}

.icon-user:before {
  content: "\e89f";
}

.icon-user1:before {
  content: "\e636";
}

.icon-quanping:before {
  content: "\e615";
}

.icon-duigou1:before {
  content: "\e632";
}

.icon-kaiguan2:before {
  content: "\e6d9";
}

.icon-cuowu:before {
  content: "\e676";
}

.icon-password:before {
  content: "\e601";
}

.icon-user2:before {
  content: "\e67b";
}

.icon-cuo:before {
  content: "\e623";
}

.icon-quanping1:before {
  content: "\e61f";
}

.icon-kaiguan:before {
  content: "\e696";
}

.icon-duigou-weigouxuan:before {
  content: "\e8df";
}

.icon-yanzhengma:before {
  content: "\e63d";
}

.icon-chuankou:before {
  content: "\e60a";
}

.icon-yiwen:before {
  content: "\e731";
}

.icon-ziyuan:before {
  content: "\e605";
}

.icon-cuo1:before {
  content: "\e646";
}

.icon-xxhdpiCombinedShape:before {
  content: "\e624";
}

.icon-yanzhengma1:before {
  content: "\e62c";
}

.icon-yanzhengma2:before {
  content: "\e668";
}

.icon-password1:before {
  content: "\e734";
}

.icon-jietu:before {
  content: "\e60b";
}

.icon-user3:before {
  content: "\e60e";
}

.icon-yiwen1:before {
  content: "\e64b";
}

.icon-zhongshi:before {
  content: "\e67c";
}

.icon-yanzhengma3:before {
  content: "\e887";
}

.icon-yiwen2:before {
  content: "\e611";
}

.icon-cuo2:before {
  content: "\e635";
}

.icon-V:before {
  content: "\e6d3";
}

.icon-yiwenwenhaoduihuakuangjiedaxianxing:before {
  content: "\e639";
}

.icon-kaiguan-kuai:before {
  content: "\e8e4";
}

.icon-yanzhengma4:before {
  content: "\e642";
}

.icon-yiwen3:before {
  content: "\e739";
}

.icon-user_1:before {
  content: "\e659";
}

.icon-kaiguankai:before {
  content: "\e60c";
}

.icon-duigou2:before {
  content: "\e61d";
}

.icon-duigou11:before {
  content: "\e620";
}

.icon-icon_xinyong_xianxing_jijin-156:before {
  content: "\e64d";
}

.icon-camera-full:before {
  content: "\e967";
}

.icon-camera:before {
  content: "\e968";
}

.icon-quanping2:before {
  content: "\e603";
}

.icon-password2:before {
  content: "\e600";
}

.icon-user4:before {
  content: "\e66a";
}

.icon-duigou3:before {
  content: "\e604";
}

.icon-fullScreen:before {
  content: "\e627";
}

.icon-screenshot:before {
  content: "\e65f";
}

.icon-chuankoushezhi:before {
  content: "\e61e";
}

.icon-quanping3:before {
  content: "\e671";
}

.icon-yiwen4:before {
  content: "\e6ba";
}

.icon-user5:before {
  content: "\e6cf";
}

.icon-yanzhengma5:before {
  content: "\e869";
}

